<h1>Comment</h1>

<div class="section">
  <p style="color: green"><%= notice %></p>

  <%= render @comment %>

  <div>
    <%= link_to "Edit this comment", edit_comment_path(@comment) %>
    <%= button_to "Destroy this comment", @comment, method: :delete, class: "underline" %>
    <%= link_to "Back to post", post_path(@comment.post) %>
  </div>
</div>
