<h1>Comment</h1>

<div class="section">
  <p class="text-notice"><%= notice %></p>

  <%= render @comment %>

  <div class="button-group">
    <%= link_to "Edit this comment", edit_comment_path(@comment), class: "button-neutral"  %>
    <%= button_to "Destroy this comment", @comment, form: { data: { turbo_confirm: 'Are you sure?' } }, method: :delete, class: "button-danger" %>
  </div>

  <div>
    <%= link_to "Back to Post", post_path(@comment.post) %>
  </div>
</div>
