<% posts = local_assigns[:posts] || [] %>

<div id="posts">
  <table style="width:100%" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Comments</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <% posts.each do |post| %>
      <tr style="vertical-align:top">
        <td><%= post.name.upcase_first %></td>
        <td>
          <ul>
            <% post.comments.each do |comment| %>
              <li><%= comment.name.upcase_first %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
