<h1> Post Details </h1>

<div class="section">

  <p class="text-notice"><%= notice %></p>

  <%= render @post %>

  <div>
    <strong>Comments</strong>:
    <ul>
      <% @post.comments.each do |comment| %>
        <li><%= link_to comment.content, comment_path(comment, post_id: @post.id) %></li>
      <% end %>
    </ul>
  </div>

  <div class="button-group">
    <%= link_to "Add Comment", new_comment_path(post_id: @post.id), class: "button-success" %>
    <%= link_to "Edit this post", edit_post_path(@post), class: "button-neutral" %>
    <%= button_to "Destroy this post", @post, form: { data: { turbo_confirm: 'Are you sure?' } }, method: :delete, class: "button-danger" %>
  </div>

  <div>
    <%= link_to "Back to posts", posts_path %>
  </div>
</div>
